@font-face {
     font-family: bariol Regular;
     src: url('font/Bariol.ttf');
}

body
{
    background-color: #bfbfbf;
    font-family: bariol Regular;
}

.navbar 
{
    background-color: rgba(255,255,255,0.7);
}

/* Controla o iframe dos dashboards */
iframe 
{
    width: 100%;
    min-height: -webkit-calc(100vh - 50px);
    min-height: -moz-calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    max-height: auto; 
}

table 
{
    font-size: 11px;
}

.table {
    width: 100%;
    table-layout: fixed;
    max-width: 100%;
   
}

/* css da tabela calendário contábil */
td.calendario{
    height: 15px;
    background-color:#FFE8A7;
    font-size: 100%;
    color: black;
    /* padding: 10px 35px 30px 30px; */
    text-align: center; 
}

th.calendario{
    height: 15px;
    text-align:center; 
    border: 5px solid;
    background-color:#FFE8A7;
    font-size: 100%;
    color: #604700;
    font-family: bariol Regular;
    
}

td.elemento { 
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}



td.dados{
    height: 15px;
    background-color:#FFFAEB;
    font-size: 100%;
    color: black;
    word-wrap:break-word;
    
    
}
h4.calendario{
    text-align: center;
    margin-top: 0px;
    
}

.h4, h4 {
    font-size: 23px;
}
/* css tabela cotação */
tr.cotacao{
   
    background-color:#FFE8A7;
    color: black;
}
td.dados2{
    background-color:#E99595;
    color: black;
}

#cabecalho_fiscal{

    padding: 10px 35px 30px 30px;
}


 
