
.tableaba, th,tr, td {
    width: 100%;
    table-layout: fixed;
    max-width: 100%;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
    font-size-adjust: initial;
}

.abatitulo{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    padding: 1px;
}

.tableaba8 {
    width: 100%;
    table-layout: fixed;
    max-width: 100%;
    
}
.tableaba10 {
    width: 100%;
    table-layout: fixed;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 15px;
}

.ar {
    display: inline;
    width: 40%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
   }
   .si {
    display: inline;
    width: 30%;
    float: right;
   }
   
   .tablejusti{
       text-align: center; /* For Edge */
       text-align-last: justify;
       width: 100%;
       table-layout: fixed;
       max-width: 100%;
   }
   